<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Caça-Níquel 7s</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <h1>🎰 Caça-Níquel 7s 🎰</h1>
    <div class="slots">
        <div class="row">
            <div class="reel" data-row="0" data-col="0">-</div>
            <div class="reel" data-row="0" data-col="1">-</div>
            <div class="reel" data-row="0" data-col="2">-</div>
        </div>
        <div class="row highlight">
            <div class="reel" data-row="1" data-col="0">-</div>
            <div class="reel" data-row="1" data-col="1">-</div>
            <div class="reel" data-row="1" data-col="2">-</div>
        </div>
        <div class="row">
            <div class="reel" data-row="2" data-col="0">-</div>
            <div class="reel" data-row="2" data-col="1">-</div>
            <div class="reel" data-row="2" data-col="2">-</div>
        </div>
    </div>
    <button id="spin-button">Girar</button>
    <div id="message" class="message"></div>
    <script src="/static/js/slot.js"></script>
</body>
</html>