<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Caça-Níquel 7s</title>
  <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
  <h1>🎰 Caça-Níquel 7s 🎰</h1>
  <div class="slots">
    <div class="column" data-col="0"></div>
    <div class="column" data-col="1"></div>
    <div class="column" data-col="2"></div>
  </div>
  <button id="spin-button">Girar</button>
  <div id="message" class="message"></div>
  <script src="/static/js/slot.js"></script>
</body>
</html>